td {
    padding: 10px;
    border:1px solid black;
}

.clicked {
    background-color: grey;
}

body{
<<<<<<< HEAD
    color: blue;
=======
    color: cornflowerblue;
>>>>>>> 82dcf66b5f171ebd586021a1e0e600af8d10315f
}
